:root {
   /* Color palette */
   --white-bg: #f1f8e2;
   --light-green-text: #c0df81;
   --light-green-bg: #98ca32;
   --dark-green: #59761e;
   --avacado-dark: #263409;
}

.app {
   display: grid;
   grid-template-rows: 4em auto 3em;

   min-height: 100vh;
}

/* =================== */

.appHeader {
   background: var(--light-green-bg);
}

/* =================== */

.appMain {
   background: var(--white-bg);
}

/* =================== */

.appFooter {
   background: var(--avacado-dark);
}